@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Walker Profile</h1>

<div class="card">
    <img class="card-img-top" src="@Model.Walker.ImageUrl" style="width:100px" />
    <div class="card-body">
        <label class="font-weight-bold">Name: </label>
        <span>@Model.Walker.Name</span>
    </div> 
    <div class="card-body">
        <label class="font-weight-bold">Neighborhood: </label>
        <span>@Model.Walker.Neighborhood.Name</span>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.Walker.Id  }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h1>Recent Walks</h1>
        <table>
            <thead>
                <th>Date</th>
                <th>Client</th>
                <th>Duration</th>
            </thead>
            <tbody>
                @foreach (Walk walk in Model.Walks)
            {
                <tr>
                    <td>@walk.Date.ToString("d")</td>
                    <td>@walk.ClientName</td>
                    <td>@walk.Duration seconds</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
